.order-history {
    max-height: 416px;
    /* This is the height of the bootstrap form and submit button */
    overflow-y: auto;

}

.profile-form-input {
    color: #000;
}

.profile-form-input::placeholder {
    color: #666d75;
}

#id_default_country,
#id_default_country option:not(:first-child) {
    color: #000;
}

#id_default_country option:first-child {
    color: #666d75;
}